<h1>Tambahkan Materi Temancoding</h1>
<form action="/materi" method="POST">
  <div class="form-group mb-3">
    <label for="judul">Judul Materi</label>
    <input
      type="text"
      class="form-control"
      id="judul"
      aria-describedby="textHelp"
      placeholder="Masukan Judul Materi"
      name="judul"
    />
  </div>
  <div class="form-group mb-3">
    <label for="narasumber">Narasumber</label>
    <input
      type="text"
      class="form-control"
      id="narasumber"
      placeholder="Masukan Nama Narasumber"
      name="narsum"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
